{% extends 'base.html' %}

{% block title %} Category {% endblock title %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-9 s12 mt-10 ">
            <h3>{{ cat.title }}</h3>
            <div class="img-container">
                <img src="/media/{{ cat.image }}" class="responsive-img" style="max-height:300px;" alt="">
            </div>
            <div class="collection">
                {% for p in posts %}
                <a href="/blog/{{ p.url }}" class="collactio-item ">{{ p.title }}</a></br>

                {% empty %}
                <h3>No post in this category</h3>
                {% endfor %}
            </div>
        </div>
    </div>
 </div>

 {% endblock %}