<footer class="bg-dark text-white py-3 ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>STechTutorials</h5>
          <p>Welcome to my blog, you come again for more information, and follow us on social plateform.</p>
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href=" ">Home</a></li>
            <li><a href="/about">About Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/stechtutorials?igshid=ZDdkNTZiNTM=" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.youtube.com/@STechTutorials" target="_blank">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>

            </li>
          </ul>
          
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center coname">
          <p>Copyright © 2023
            <a href="/about">STechTutorials</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  