{% load static %}
<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid ">
      <a class="navbar-brand "  href="/home"><img src="{% static 'img/stech.png' %}"  style="height: 50px; width: 130px; margin-top: -17px; margin-bottom: -15px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              {% for cat in cats %}
              <li><a class="dropdown-item" href="/category/{{ cat.url }}">{{ cat.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<nav class="navbar bg-body-tertiary bg-secondery">
    <div class="container-fluid-2">
      {% for cat in cats %}
        <a class="navbar-brand" href="/category/{{ cat.url }}">{{ cat.title }}</a>
      {% endfor %}
    </div>
  </nav>

